{% extends "base.html" %} {%block body%} {% if current_user.is_authenticated%}
<h1 class="my-4 text-purple">Welcome - {{current_user.name}}</h1>
<div class="box">
  <div class="grey">Add New...</div>
  <div>
    <a href="/add" target="_blank" class="btn btn-purple">ADD</a>
  </div>
</div>

<div class="mb-3">
  <input
    type="text"
    id="searchInput"
    class="form-control"
    placeholder="Search todos..."
  />
</div>
{%if current_user.is_authenticated%} {% for item in todo_list%}

<div
  class="center todo-item"
  data-title="{{ item.title }}"
  data-desc="{{ item.desc }}"
>
  <div class="box">
    <div>
      <input type="checkbox" class="mark-done" data-sno="{{ item.sno }}" />
      <strong> . {{ item.title }} - </strong> {{ item.desc }}
    </div>
    <a href="/delete/{{item.sno}}" class="fas fa-trash-alt delete-todo"></a>
  </div>
</div>

{% endfor %} {%endif%}
<a href="{{prev}}" class="previous">&laquo; Previous</a>
<a href="{{next}}" class="next">Next &raquo;</a>

{%endif%} {%endblock%}
