{% extends "base.html" %} {%block body%} {%if current_user.is_authenticated%}
<h1>Hello {{current_user.name}}</h1>
{%endif%}
<h1 class="my-4 text-purple"><span id="typed"></span></h1>
<div
  class="text-white text-center d-flex align-items-center justify-content-center rounded shadow"
  style="background: url('{{ url_for('static', filename='media/home.png') }}') no-repeat center center;
            background-size: cover;
            height: 400px;
            position: relative;
            width: 100%;"
>
  <div
    style="
      position: absolute;
      z-index: 1;
      text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
      font-size: 2rem;
    "
  >
    <h1><span id="typed"></span></h1>
  </div>
</div>

{%endblock%}
